<div class="grade">
  <label>
    {{ include.name }}
    <input
      class="{{ include.name | slugify: "latin" }}"
      {% if include.disabled %} disabled {% endif %}
      type="number"
      step="0.1"
      value="5.0"
      maxlength="4"
      placeholder="0.0"
      max="10.0"
      min="0.0"
    />
  </label>
</div>
