<div class="grade">
  <label>
    {{ include.name }}
    <select
      class="{{ include.name | slugify: "latin" }}"
      name="{{ include.name | slugify: "latin" }}"
    >
      <option value="0.0">0.0</option>
      <option value="5.0" selected>5.0</option>
      <option value="7.5">7.5</option>
      <option value="10.0">10.0</option>
    </select>
  </label>
</div>
