---
---


// Default theme (rose-pine)
:root {
  --base00: #faf4ed;
  --base01: #fffaf3;
  --base02: #f2e9de;
  --base03: #9893a5;
  --base04: #6e6a86;
  --base05: #575279;
  --base06: #555169;
  --base07: #26233a;
  --base08: #1f1d2e;
  --base09: #b4637a;
  --base0A: #ea9d34;
  --base0B: #d7827e;
  --base0C: #286983;
  --base0D: #56949f;
  --base0E: #907aa9;
  --base0F: #c5c3ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #232136;
    --base01: #2a273f;
    --base02: #393552;
    --base03: #59546d;
    --base04: #817c9c;
    --base05: #e0def4;
    --base06: #f5f5f7;
    --base07: #d9d7e1;
    --base08: #ecebf0;
    --base09: #eb6f92;
    --base0A: #f6c177;
    --base0B: #ea9a97;
    --base0C: #3e8fb0;
    --base0D: #9ccfd8;
    --base0E: #c4a7e7;
    --base0F: #b9b9bc;
  }
}

// Map water.css variables to base16
:root {
  --animation-duration: 0.13s;
  --background: var(--base01);
  --background-alt: var(--base02);
  --background-body: var(--base00);
  --border: var(--base02);
  --button-hover: var(--base03);
  --code: var(--base0D);
  --error: var(--base08);
  --focus: var(--base0A);
  --form-placeholder: var(--base04);
  --form-text: var(--base05);
  --highlight: var(--base0C);
  --links: var(--base09);
  --scrollbar-thumb: var(--base04);
  --scrollbar-thumb-hover: var(--base05);
  --selection: var(--base06);
  --text-bright: var(--base06);
  --text-main: var(--base05);
  --text-muted: var(--base04);
  --variable: var(--base0B);
}

* {
  transition: all var(--animation-duration) ease;
}

// Buttons and inputs color
button,
input,
select,
textarea {
  background-color: var(--background-alt);
}

// Main font
body {
  font-family: "Fira Sans", sans-serif;
}

// Code font
code {
  font-family: "Fira Code", monospace;
  font-size: .95em;
}

// Flex ro
.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  &.extremes {
    justify-content: space-between;
  }
}

// Dialog styling
dialog {
  background-color: var(--background-body);
  border: 0;
  border-color: var(--border);
  border-radius: 6px;
  color: var(--text-main);
  padding: 10px 30px;

  > header:first-child {
    background-color: var(--background);
    border-radius: 6px 6px 0 0;
    margin: -10px -30px 10px;
    padding: 5px;
    text-align: center;
  }

  &::backdrop {
    // scss-lint:disable ColorVariable
    backdrop-filter: blur(2px);
    background: #000000a2;
  }

  + .backdrop {
    // scss-lint:disable ColorVariable
    background: rgba(0, 0, 0, .7);
  }
}

// Top right close butto
.close-button {
  background-color: inherit;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin-right: 0;
  overflow: hidden;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  white-space: nowrap;
}

// Nav bar
nav ul {
  list-style: none;
  margin-left: -30px;

  li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-top: -10px;
    vertical-align: middle;
  }
}

// Title
.title {
  color: var(--text-muted);
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 8px;

  a {
    color: var(--variable);
    text-decoration: none;
  }

  &:hover {
    color: var(--focus);

    a {
      text-decoration: none;
    }
  }
}

// Remove emojis from water.css

[href^="mailto"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="tel"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

[href^="sms"]::before {
  // scss-lint:disable ImportantRule
  content: '' !important;
}

// Smaller buttons
.small-button {
  &[type="button"],
  &[type="submit"] {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// Hide button without jumping around
.hidden {
  visibility: hidden;
}
// Expanding PGP
.pgp {
  vertical-align: bottom;

  span {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: max-width .5s;
    vertical-align: bottom;
    white-space: nowrap;
  }
}

.pgp:hover span {
  max-width: 200px;
  text-decoration: underline;
}
// Current item in navigation
[aria-current="page"] {
  color: var(--text-main);
  cursor: default;
  pointer-events: none;
  text-decoration: none;

  &::before {
    content: '[  ';
  }

  &::after {
    content: ' ]';
  }
}

// Increase bottom margin label
input,
select {
  margin: .8em;
}

// Increase icon size
.icon.medium {
  font-size: 1.4em;
}

// Remove bullets from post list
.posts,
.notes {
  list-style: none;

  .item-title {
    margin-bottom: 0;
  }

  .tags {
    margin-top: 0;
  }
}

// Flex fieldset
fieldset {
  display: flex;
  flex-flow: wrap;

  div {
    display: block;

    &.total {
      align-self: center;
      margin-bottom: 3%;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 3%;
    }
  }
}

.failed {
  color: var(--error);
}

.succeeded {
  color: var(--variable);
}

input:invalid {
  box-shadow: 0 0 0 2px var(--error);
}

form {
  padding: 15px;
}

// PrismJS 1.23.0
pre[class*="language-"] {
  overflow: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--base03);
}

.token.punctuation {
  color: var(--base04);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--base09);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--base0E);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--base0B);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--base0E);
}

.token.function,
.token.class-name {
  color: var(--base0D);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--base0C);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
