---
title: Latest Notes
description: My in-progress work, stuff i'm learning, or random guides and schedules that don't quite fit a blog
---
{% assign notes = site.notes | reverse | where: "draft", false | where: "gemini", false %}
<ul class="notes">
  {% for note in notes %}
  <li>
    <h2 class="item-title">
      <small>{% include icons/languages/{{ note.language }}.svg %}</small>
      {% if note.category.size > 0 %}({{ note.category }}){% endif %}
      <a href="{{ note.url }}">
        {{ note.title }}
      </a>
    </h2>
    <small>{{ note.date | date: "%d/%m/%y" }}</small>
  </li>
  {% endfor %}
</ul>
