<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="public">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabriel Fontes | {{ page.title }}</title>
    <link rel="canonical" href="https://misterio.me{{ page.url }}" />
    <meta
      name="description"
      content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
    />
    {% if page.noindex == true %} <meta name="robots" content="noindex"> {% endif %}
    <link rel="stylesheet" href="/assets/imports/polyfills/dialog.css" />
    <link rel="stylesheet" href="/assets/imports/water.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" id="chosen-scheme" />
    <script>
      let chosen_scheme_css = document.getElementById("chosen-scheme");

      // Set a given scheme
      function setTheme(scheme) {
        chosen_scheme_css.setAttribute(
          "href",
          "/assets/schemes/" + scheme + ".css"
        );
        localStorage.setItem("current-scheme", scheme);
      }
      // Reset scheme to defaults (rose-pine moon or dawn, depending on preference)
      function resetTheme() {
        chosen_scheme_css.removeAttribute("href");
        localStorage.removeItem("current-scheme");
      }

      // Get stored scheme from localStorage and reapply it
      let stored_scheme = localStorage.getItem("current-scheme");
      if (stored_scheme) {
        setTheme(stored_scheme);
      }
    </script>
    <link rel="preload" href="/assets/FiraSans/Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/FiraSans/Italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/FiraSans/Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/FiraSans/BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/FiraCode/Regular.woff2" as="font" type="font/woff2" crossorigin>
    <style>
      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: normal;
        src: url('/assets/FiraSans/Regular.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Fira Sans';
        font-style: italic;
        font-weight: normal;
        src: url('/assets/FiraSans/Italic.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: bold;
        src: url('/assets/FiraSans/Bold.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Fira Sans';
        font-style: italic;
        font-weight: bold;
        src: url('/assets/FiraSans/BoldItalic.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Fira Code';
        font-style: normal;
        font-weight: normal;
        src: url('/assets/FiraCode/Regular.woff2') format('woff2');
      }
    </style>
  </head>
  <body>
    <header>
    {% include nav.html %}
    {% include scheme-dialog.html %}
    </header>
    <main>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
    {% include footer.html %}
    <script defer src="/assets/main.js"></script>
    <script defer src="/assets/imports/polyfills/dialog.js"></script>
    <script defer src="/assets/imports/prism.js"></script>
  </body>
</html>
